html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  background-color: #f2f2f2;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  background-color: #ffffff;
  box-shadow: 2px 0px 15px -3px #000000;
}

a {
  text-decoration: none;
  color: #1a7dab;
}

img {
  max-width: 100%;
  height: auto;
}

/*Главная страница*/

/*Шапка*/
.header {
  position: relative;
  min-height: 174px;
  background-color: #10355a;
}

.header__logo {
  position: absolute;
  left: 352px;
  width: 172px;
  height: 169px;
  background-color: #ffffff;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 1216px;
  height: 117px;
}

.header::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 448px;
  height: 174px;
  width: 100px;
  background-color: rgba(12, 38, 65, 0.6);
  transform: skewX(-15deg);
}

.header__title {
  padding: 0;
  margin: auto 0;
  padding-right: 47px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 33px;
  line-height: 38.05px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
  width: 240px;
  list-style: none;
}

.social__item {
  width: 45px;
  height: 45px;
  margin-left: 6px;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
}

.social__item--vk {
  background-image: url("../img/svg-icon--vk.svg");
  transform: scale(0.9);
}

.social__item--instagram {
  background-image: url("../img/svg-icon--instagram.svg");
  transform: scale(0.9);
}

.social__item--youtube {
  background-image: url("../img/svg-icon--youtube.svg");
  transform: scale(0.9);
}

.navigation {
  min-height: 52px;
  background-color: #134c72;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  padding-left: 180px;
  width: 1216px;
  min-height: 52px;
  list-style:none;
}

.navigation__item {
  min-width: 130px;
  border-right: 2px solid rgba(26, 125, 171, 0.4);
  text-align: center;
  transform: skewX(-15deg);
}

.navigation__item:hover {
  background-color: rgba(26, 125, 171, 0.4);
}

.navigation__item:active {
  background-color: rgba(213, 0, 40, 0.8);
}

.navigation__item-link {
  display: block;
  padding: 0px 29px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 20px;
  line-height: 52px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  transform: skewX(15deg);
}

.navigation__item--request .navigation__item-link {
  padding-right: 30px;
}

.header__line {
  height: 5px;
  background-color: #d50028;
}

/*Раздел "календарь" на главной странице*/

.calendar {
  min-height: 179px;
}

.calendar__top-wrapper {
  background-color: #0c2641;
}

.calendar__top {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 1216px;
  margin: 0 auto;
  min-height: 57px;
}

.calendar__top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 29px;
  border: 10px solid #e8e8e8;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

.svg-icon--calendar {
  position: absolute;
  fill: #1a7dab;
  top: 9px;
  left: 25px;
  transform: scale(1.1);
}

.calendar__title {
  margin: 0;
  padding: 0 67px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.arrow-back,
.arrow-forward {
  display: block;
  width: 10px;
  height: 100%;
  margin: 0;
  line-height: 0;
  margin: auto 0;
  stroke: rgba(26, 125, 171, 1);
}

.arrow-back--tournaments,
.arrow-forward--tournaments {
  width: 20px;
  transform: scale(0.8);
}

.arrow-back--tournaments {
  margin-left: 20px;
}
.arrow-forward--tournaments {
  margin-right: 20px;
}

.arrow-back--tournaments:hover,
.arrow-back--tournaments:active,
.arrow-forward--tournaments:hover,
.arrow-forward--tournaments:active {
  stroke: rgba(213, 0, 40, 0.7);
}

.calendar__tournaments-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  padding-left: 6px;
  width: 675px;
  overflow: hidden;
  list-style: none;
}

.calendar__tournaments-item {
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 32px;
  transform: skewX(-15deg);
}

.calendar__tournaments-item:hover {
  background-color: rgba(26, 125, 171, 0.4);
}

.calendar__tournaments-item:active {
  background-color: rgba(213, 0, 40, 0.7);
}

.navigation__item--request {
  background-color: rgba(26, 125, 171, 1);
}

.cursor-pointing {
  background-color: rgba(26, 125, 171, 0.4);
}

.active {
  background-color: rgba(213, 0, 40, 0.7);
}

.calendar__tournaments-item-link {
  display: block;
  padding-left: 22px;
  padding-right: 21px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  transform: skewX(15deg);
}

.calendar__select {
  width: 260px;
  min-height: 32px;
  outline: 1px solid white;
}

.calendar__bottom-wrapper {
  background-color: #e8e8e8;
}

.calendar__bottom {
  display: flex;
  margin: 0 auto;
  width: 1216px;
  min-height: 122px;
}

.arrow-back--games,
.arrow-forward--games {
  display: block;
  width: 25px;
  height: 100%;
  margin: 0;
  line-height: 0;
  margin: auto 0;
  stroke: #6d7c9d;
  transform: scale(1.25);
}

.arrow-forward--games {
  margin-right: 30px;
}

.arrow-back--games:hover,
.arrow-forward--games:hover {
  stroke: rgba(213, 0, 40, 0.7);
}

.arrow--cursor-pointing,
.arrow--active {
  stroke: rgba(213, 0, 40, 0.7);
}

.calendar__games-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 1055px;
  overflow: hidden;
  list-style: none;
  background-color: #e8e8e8;
}

.live {
  position: relative;
}

.live::before {
  content: "Live";
  position: absolute;
  top: 18px;
  right: 21px;
  width: 25px;
  height: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 8.45px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(213, 0, 40, 1);
  border-radius: 2px;
  color: #ffffff;
}

.calendar__games-item {
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 12px;
  width: 205px;
}

.calendar__games-item:nth-child(2n) {
  background-color: #ffffff;
}

.calendar__games-score {
  width: 100%;
}

.calendar__games-score-cell--data-time {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}

.calendar__games-score-cell--bold {
  font-weight: 700;
}

.calendar__games-score-cell--team,
.calendar__games-score-cell--goals {
  padding-bottom: 12px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  color: #3f3f3f;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}

.calendar__games-score-cell--goals {
  text-align: right;
}

.calendar__games-score-cell--bold {
  font-weight: 700;
}

.calendar__games-score-cell--first-game {
  padding-top: 17px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  line-height: 14px;
  font-weight: 400;
  text-align: right;
  vertical-align: top;
}

.calendar__tables-results {
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 115px;
  text-align: center;
  background-color: #dcdcdc;
}

.calendar__tables,
.calendar__results {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 42px;
  color: #3f3f3f;
  font-weight: 400;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

.calendar__tables:hover,
.calendar__results:hover {
  color: #d50028;
}

.slider {
  min-height: 703px;
  padding: 42px 0;
  background-color: #044575;
  background-image: url("../img/slider-background.png");
  background-repeat: no-repeat;
  background-position: left -300px;
}

.slider__wrapper {
  display: flex;
  width: 1216px;
  height: 587px;
  margin: 0 auto;
  background-color: #f2f0ea;
}

.slider__text-list,
.slider__slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__slides {
  width: 910px;
  height: 100%;
  overflow: hidden;
}

.slider__slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 42px;
  height: 100%;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
}

.slider__slide--1 {
  background-image: url("../img/slider__slide1-background.png");
}

.slider__slide--2 {
  background-image: url("../img/slider__slide2-background.jpg");
}

.slider__slide--3 {
  background-image: url("../img/slider__slide3-background.jpg");
}

.slider__slide-content {
   position: relative;
   width: 832px;
   min-height: 152px;
   background-color: rgba(0, 0, 0, 0.45);
}

.slider__slide-date {
  position: absolute;
  left: 5px;
  background-color: rgba(213, 0, 40, 1);
  height: 26px;
  transform: skewX(-15deg);
}

.slider__slide-content::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 25px;
  background-color: rgba(213, 0, 40, 1);
}

.slider__slide-date-p {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 15px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  transform: skewX(15deg);
}

.slider__slide-text-p{
  margin: 0;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-right: 31px;
  padding-left: 31px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 31px;
  color: #ffffff;
  line-height: 33px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}

.slider__text-list {
  height: 100%;
  width: 306px;
  overflow: hidden;
}

.slider__text-item {
  display: table;
}

.slider__text-item-link {
  display: table-cell;
  height: calc(587px/6);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 31px;
  padding-left: 31px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  color: #000000;
  line-height: 19px;
  text-align: justify;
  vertical-align: middle;
}

.slider__text-item-link:hover {
  background-color: rgba(26, 125, 171, 0.1);
}

.slider__text-item-link:active,
.slider__text-item-link--current,
.slider__text-item-link--current:hover {
  color: #ffffff;
  background-color: #d50028;
}
