html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  margin: 0;
  padding: 0;
  min-width: 1216px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  background-color: #e8e8e8;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 26px;
  color: #1a7dab;
  text-decoration: underline;
  text-transform: uppercase;
}

/*Главная страница*/

/*Шапка*/
.header {
  min-height: 174px;
  background-color: #10355a;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1216px;
  margin: 0 auto;
}

.header__logo {
  position: absolute;
  width: 172px;
  height: 169px;
  background-color: #ffffff;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 1216px;
  height: 117px;
  opacity: 0.99;
  font-size: 0;
  line-height: 0;
}

.header__logo::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 96px;
  height: 168px;
  width: 100px;
  background-color: rgba(12, 38, 65, 0.6);
  transform: skewX(-15deg);
}

.header__title {
  /*display: inline-block;*/
  padding: 0;
  padding-left: 221px;
  margin: auto 0;
  /*padding-right: 47px;
  padding-left: 50px;*/
  padding-top: 20px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 33px;
  line-height: 38.05px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  padding-bottom: 17px;
  margin: 0;
  width: 240px;
  list-style: none;
}

.social__item {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 18px;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
}

.social__item--instagram {
  background-image: linear-gradient(10deg, #fdc565 2%, #ae318f 80%, #6d51c4 100%);
}

.svg-icon--instagram {
  fill: #ffffff;
  vertical-align: middle;
}

.social__item--vk {
  background-color: #4a6b8e;
}

.svg-icon--vk {
  fill: #ffffff;
  vertical-align: middle;
}

.social__item--youtube {
  background-color: #ffffff;
}

.svg-icon--youtube {
  fill: #ff4847;
  vertical-align: middle;
}

/*Предыдущие иконки соц. сетей
.social__item--vk {
  background-image: url("../img/svg-icon--vk.svg");
  transform: scale(0.9);
}

.social__item--instagram {
  background-image: url("../img/svg-icon--instagram.svg");
  transform: scale(0.9);
}

.social__item--youtube {
  background-image: url("../img/svg-icon--youtube.svg");
  transform: scale(0.9);
}*/

.navigation {
  min-height: 52px;
  background-color: #134c72;
}

.navigation__wrapper {
  margin: 0 auto;
  width: 1216px;
}

.navigation__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 180px;
  padding-right: 3px;
  height: 52px;
  list-style:none;
}

.navigation__item {
  min-width: 130px;
  border-right: 2px solid rgba(26, 125, 171, 0.4);
  text-align: center;
  transform: skewX(-15deg);
}

.navigation__item:hover {
  background-color: rgba(26, 125, 171, 0.4);
}

.navigation__item:active {
  background-color: rgba(213, 0, 40, 0.8);
}

.navigation__item-link {
  display: block;
  padding: 0px 29px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 20px;
  line-height: 52px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  transform: skewX(15deg);
}

.navigation__item--request .navigation__item-link {
  padding-right: 30px;
}

.header__line {
  height: 5px;
  background-color: #d50028;
}

/*Календарь на главной странице*/

.calendar {
  min-height: 179px;
}

.calendar__top-wrapper {
  background-color: #0c2641;
}

.calendar__top {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 1216px;
  margin: 0 auto;
  min-height: 57px;
}

.calendar__top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 29px;
  border: 10px solid #e8e8e8;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

.calendar__title::before {
  content: "\f073";
  position: absolute;
  color: #1a7dab;
  left: 30px;
  font-family: "FontAwesome";
  font-size: 21px;
}

.calendar__title {
  margin: 0;
  padding: 0 67px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.arrow-back,
.arrow-forward {
  display: block;
  width: 10px;
  height: 100%;
  margin: 0;
  stroke: rgba(26, 125, 171, 1);
}

.arrow-back--tournaments,
.arrow-forward--tournaments {
  width: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.arrow-back--tournaments {
  margin-left: 20px;
}
.arrow-forward--tournaments {
  text-align: right;
  margin-right: 20px;
}

.calendar__tournaments-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  padding-left: 6px;
  width: 675px;
  overflow: hidden;
  list-style: none;
}

.calendar__tournaments-item {
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 32px;
  transform: skewX(-15deg);
}

.calendar__tournaments-item:hover {
  background-color: rgba(26, 125, 171, 0.4);
}

.calendar__tournaments-item:active {
  background-color: rgba(213, 0, 40, 0.7);
}

.navigation__item--request {
  background-color: rgba(26, 125, 171, 1);
}

.cursor-pointing {
  background-color: rgba(26, 125, 171, 0.4);
}

.active {
  background-color: rgba(213, 0, 40, 0.8);
}

.calendar__tournaments-item-link {
  display: block;
  padding-left: 22px;
  padding-right: 21px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  transform: skewX(15deg);
}

.calendar__selects {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 260px;
  min-height: 32px;
}

.calendar__select-item {
  position: relative;
  padding-right: 20px;
  padding-left: 15px;
}

.calendar__select-item::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 6px;
  border: 5px solid #1a7dab;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.calendar__select-item-default {
  height: 100%;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 15px;
  vertical-align: middle;
  color: #ffffff;
}

.calendar__select-item-options {
  display: none;
  position: absolute;
  top: 16px;
  left:0;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 20px;
  margin: 0;
  width: 100%;
  list-style: none;
  background-color: #0c2641;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
  color: #ffffff;
}

.calendar__select-item-active {
  display: block;
}

.calendar__bottom-wrapper {
  background-color: #e8e8e8;
}

.calendar__bottom {
  display: flex;
  margin: 0 auto;
  width: 1216px;
  min-height: 122px;
}

.arrow-back--games,
.arrow-forward--games {
  display: block;
  width: 25px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 0;
  stroke: #6d7c9d;
}

.arrow-forward--games {
  text-align: right;
  margin-right: 30px;
}

.calendar__games-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 1055px;
  overflow: hidden;
  list-style: none;
  background-color: #e8e8e8;
}

.live {
  position: relative;
}

.live::before {
  content: "Live";
  position: absolute;
  top: 18px;
  right: 21px;
  width: 25px;
  height: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 8.45px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(213, 0, 40, 1);
  border-radius: 2px;
  color: #ffffff;
}

.calendar__games-item {
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 12px;
  width: 205px;
}

.calendar__games-item:nth-child(2n) {
  background-color: #ffffff;
}

.calendar__games-score {
  width: 100%;
}

.calendar__games-score-cell--data-time {
  padding-top: 18px;
  padding-bottom: 13px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}

.calendar__games-score-cell--bold {
  font-weight: 700;
}

.calendar__games-score-cell--team,
.calendar__games-score-cell--goals {
  padding-bottom: 12px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  color: #3f3f3f;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}

.calendar__games-score-cell--goals {
  text-align: right;
}

.calendar__games-score-cell--bold {
  font-weight: 700;
}

.calendar__games-score-cell--first-game {
  padding-top: 17px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  line-height: 14px;
  font-weight: 400;
  text-align: right;
  vertical-align: top;
}

.calendar__tables-results {
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 115px;
  text-align: center;
  background-color: #dcdcdc;
}

.calendar__tables,
.calendar__results {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 42px;
  color: #3f3f3f;
  font-weight: 400;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

.calendar__tables:hover,
.calendar__results:hover {
  color: #d50028;
}

/*Слайдер*/

.slider {
  min-height: 703px;
  padding: 42px 0;
  background-color: #044575;
  background-image: url("../img/slider-background.png");
  background-repeat: repeat;
  background-position: center -300px;
}

.slider__wrapper {
  display: flex;
  width: 1216px;
  height: 587px;
  margin: 0 auto;
  background-color: #f2f0ea;
}

.slider__text-list,
.slider__slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__slides {
  width: 910px;
  height: 100%;
  overflow: hidden;
}

.slider__slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 42px;
  height: 100%;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
}

.slider__slide--1 {
  background-image: url("../img/slider__slide1-background.png");
}

.slider__slide--2 {
  background-image: url("../img/slider__slide2-background.jpg");
}

.slider__slide--3 {
  background-image: url("../img/slider__slide3-background.jpg");
}

.slider__slide-content {
   position: relative;
   width: 832px;
   min-height: 152px;
   background-color: rgba(0, 0, 0, 0.45);
}

.slider__slide-date {
  position: absolute;
  left: 5px;
  background-color: rgba(213, 0, 40, 1);
  height: 26px;
  transform: skewX(-15deg);
}

.slider__slide-content::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 25px;
  background-color: rgba(213, 0, 40, 1);
}

.slider__slide-date-p {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 15px;
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  transform: skewX(15deg);
}

.slider__slide-text-p{
  margin: 0;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-right: 31px;
  padding-left: 31px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 31px;
  color: #ffffff;
  line-height: 33px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}

.slider__text-list {
  height: 100%;
  width: 306px;
  overflow: hidden;
}

.slider__text-item {
  display: table;
  overflow: hidden;
  text-overflow: clip;
}

.slider__text-item-link {
  display: table-cell;
  height: calc(587px/6);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 31px;
  padding-left: 31px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 19px;
  text-align: justify;
  vertical-align: middle;
  color: #000000;
  overflow: hidden;/*При display:block эти 2 свойства должны прятать текст, но не прячут,
  пока оставлен display: table-cell*/
  text-overflow: clip;
  cursor: pointer;
}

.slider__text-item-link:hover,
.slider-link-pointing {
  background-color: rgba(26, 125, 171, 0.1);
}

.slider__text-item-link:active,
.slider-link-active,
.slider-link-active:hover {
  color: #ffffff;
  background-color: #d50028;
}

/*Основное содержание*/

.main-container {
  display: flex;
  justify-content: space-between;
  width: 1216px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 38px;
}

.main-container--inner {
  margin-top: 25px;
}

.main-content {
  width: 910px;
}

.button {
  display: block;
  padding: 4px 0;
  margin-top: 25px;
  width: 100%;
  font-family: "Ubuntu Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #579dbd;
  text-transform: uppercase;
  border-radius: 3px;
}

/*Сайдбар*/

.sidebar {
  width: 260px;
}

/* Селекты в сайдбаре на главной странице */

/* Стандартный тёмный селект, который потом встречается на многих внутренних страницах */

.select-item {
  position: relative;
  min-width: 260px;
  height: 44px;
  background-color: #16527e;
}

.select-item__default {
  width: 197px;
  height: 100%;
  background-color: #417194;
  transform: skewX(-15deg);
  margin-left: 15px;
}

.select-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 44px;
  background-color: #417194;
}

.select-item::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 21px;
  border: 5px solid #ffffff;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.select-item__default-text {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 44px;
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
  transform: skewX(15deg);
}

.select-item__options {
  display: none;
  position: absolute;
  top: 44px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  width: 100%;
  list-style: none;
  background-color: inherit;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
}

.select-item__options--active {
  display: block;
}

/* Список светлых селектов на главной странице */

.selects-list {
  min-height: 158px;
  margin-bottom: 34px;
}

.select-item--light {
  margin-bottom: 13px;
  background-color: #3b8eb5;
}

.select-item--light::before {
  background-color: #6ca8c3;
}

.select-item--light .select-item__default {
  background-color: #6ca8c3;
}

/* Навигация в сайдбаре на внутренних страницах */

.sidebar__navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  background-color: #487697;
  margin-bottom: 26px;
}

.sidebar__navigation-item {
  border-bottom: 1px solid #6d91ac;
  vertical-align: middle;
}

.sidebar__navigation-item:hover {
  background-color: rgba(26, 125, 171, 0.4);
}

.active:hover,
.sidebar__navigation-item:active {
  background-color: rgba(213, 0, 40, 0.8);
}

.sidebar__navigation-item-link {
  position: relative;
  display: block;
  padding-left: 36px;
  width: 100%;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 48px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
}

.sidebar__navigation-item-link::before {
  content: "\f105";
  position: absolute;
  font-family: "FontAwesome";
  color: #ffffff;
  font-size: 15px;
  left: 15px;
}

/* Таблицы в сайдбаре */

.sidebar__table {
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #ffffff;
}

.sidebar__table-content {
  width: 100%;
}

.sidebar__table .sidebar__table-title {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 44px;
  color: #ffffff;
  font-weight: bold;
  background-color: #044575;
  border-bottom: 0px;
}

.sidebar__table-cell {
  padding: 0;
  padding-left: 15px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 37px;
  vertical-align: middle;
  border-bottom: 1px solid #dddddd;
}

.sidebar__table-row--head .sidebar__table-cell {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 31px;
  color: #ffffff;
  vertical-align: middle;
  background-color: #4897bc;
  border-bottom: 0px;
}

.link--sidebar-wrapper {
  text-align: center;
}

.link--sidebar {
  line-height: 45px;
}

.sidebar__table--tournament {
  margin-bottom: 21px;
}

.sidebar__table--tournament .sidebar__table-cell--number {
  padding-left: 10px;
}

.sidebar__table--tournament .sidebar__table-cell--color {
  padding-left: 7px;
  width: 7px;
}

.sidebar__table--tournament .sidebar__table-cell--games {
  padding-left: 20px;
}

.sidebar__table--tournament .sidebar__table-cell--points {
  padding-left: 0px;
  padding-right: 10px;
}

.sidebar__table--schedule {
  margin-bottom: 26px;
}

.sidebar__table--schedule .sidebar__table-cell--match-time {
  width: 40px;
}

.sidebar__table--schedule .sidebar__table-cell--teams {
  padding: 0;
  padding-right: 20px;
  text-align: center;
}

.tabs__navigation {
  width: 100%;
  background-color: #4897bc;
}

.tabs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.tabs--sidebar .tabs__list {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 38px;
  text-transform: none;
}

.tabs__item {
  flex-grow: 1;
  transform: skewX(-15deg);
  border-right: 1px solid #ffffff;
}

.tabs__item:hover {
  background-color: rgba(26, 125, 171, 0.4);
}

.tabs__item:last-child {
  border-right: none;
}

.tabs__text {
  transform: skewX(15deg);
}

.tabs--active,
.tabs--active:hover {
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
}

.tabs--sidebar .tabs--active {
   font-weight: normal;
}

/* Цвет разделителя

.tabs--sidebar .tabs__item {
  border-right: 1px solid #3e8bb1;
}

.tabs--sidebar .tabs__item:last-child {
  border-right: none;
}*/

.tabs__pane {
  display: none;
}

.tabs__pane--active {
  display: block;
}

.sidebar__table--statistics .sidebar__table-cell--team {
  padding: 0;
  font-size: 11px;
  line-height: 15px;
  vertical-align: top;
}

.sidebar__statistics-row--head .sidebar__table-cell {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px solid #dddddd;
}

.sidebar__table-cell--player {
  border: 0;
  padding: 0;
  line-height: 15px;
  vertical-align: bottom;
}

.sidebar__table-cell--goals {
  padding-right: 5px;
}

.sidebar__table-cell--games-number,
.sidebar__table-cell--games-number-head {
  padding-left: 0;
  padding-right: 10px;
}

.sidebar__table-cell-img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: #e8e8e8;
}

/*Новости на главной странице*/

.news-cards {
  margin-bottom: 43px;
  min-height: 644px;
}

.news-cards__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

 .news-cards__item {
  width: 440px;
  min-height: 570px;
  background-color: #ffffff;
}

.news-cards__picture {
  display: block;
  height: 293px;
  filter: brightness(80%);
}

@keyframes news-cards__picture-animation {
  100% {
    transform: scale(1.05);
    filter: brightness(100%);
  }
}

.news-cards__picture:hover {
  animation-name: news-list-cads__picture-animation;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.news-cards__content {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 35px;
  padding-right: 35px;
}

.news-cards__date {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #5c5c5c;
  vertical-align: middle;
}

.news-cards__title {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  color: #12151d;
  vertical-align: middle;
}

.news-cards__text {
  margin: 15px 0;
}

.button--news-cards {
  margin-top: 28px;
}

/*Фото на главной странице*/

.photo {
  margin-bottom: 53px;
  min-height: 386px;
}

.photo__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.photo__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 17px;
  width: 284px;
  min-height: 317px;
  background-color: #ffffff;
}

.photo__item-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 19px;
  padding-right: 15px;
}

.photo__picture {
  display: block;
  height: 190px;
  width: 284px;
  margin-bottom: 17px;
}

/*.photo__picture:hover {
  transform: scale(1.05);
}*/

.photo__title {
  display: block;
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 23px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  color: #12151d;
  vertical-align: middle;
}

.photo__date {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #5c5c5c;
  vertical-align: middle;
}

.photo__number {
  padding-left: 5px;
  padding-right: 5px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #99a4b6;
  box-shadow: 1px 1px #ffffff,
              2px 2px #99a4b6;
}

/*Видео на главной странице*/

.video {
  min-height: 386px;
}

.video__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.video__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 17px;
  width: 284px;
  min-height: 317px;
  background-color: #ffffff;
}

.video__picture {
  position: relative;
  display: block;
  height: 190px;
  width: 284px;
  margin-bottom: 17px;
  filter: brightness(60%);
}

.video__picture::before {
  content: "\f04b";
  position: absolute;
  width: 68px;
  height: 68px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: "FontAwesome";
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-left: 10px;
  color: #ffffff;
  background-color: rgba(194, 4, 38, 0.78);
  border-radius: 50%;
  filter: brightness(100%); /*Не работает, применение фильтра к video__picture-img удаляет псевдоэлемент*/
}

.video__title {
  display: block;
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 23px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  color: #12151d;
  vertical-align: middle;
}

.video__date {
  padding-left: 19px;
  padding-right: 15px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #5c5c5c;
  vertical-align: middle;
}

/* Партнёры*/

.partners {
  min-height: 232px;
  background-color: #d3dde2;
}

.partners-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1216px;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 43px;
}

.partners__list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 1100px;
  overflow: hidden;
  list-style: none;
}

.partners__item {
  flex-shrink: 0;
  width: 135px;
  height: 135px;
  margin-right: 58px;
  background-color: #ffffff;
}

.arrow-back--partners,
.arrow-forward--partners {
  width: 57px;
  padding-top: 46px;
  padding-bottom: 46px;
  stroke: #6d7c9d;
}

.arrow-forward--partners {
  text-align: right;
}

/*Подвал*/

.footer {
  min-height: 145px;
  background-color: #10355a;
}

.footer-wrapper {
  display: flex;
  align-items: flex-end;
  padding-top: 24px;
  padding-bottom: 13px;
  width: 1216px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer__copyright {
  width: 700px;
  margin-right: 165px;
}

.footer__copyright-main {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 35px;
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__copyright-sportandme {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
}

.link--footer {
  text-transform: none;
  color: #ffffff;
}

.footer .social {
  padding: 0;
  padding-bottom: 3px;
  justify-content: center;
  align-items: flex-end;
  margin-right: 55px;
}

.footer .social__item {
  line-height: 29px;
}

.footer__login {
  position: relative;
  text-align: right;
}

.link--footer-login {
  padding: 0;
  padding-left: 27px;
  font-family: "Ubuntu Condensed", "Arial", sans-serif;
  font-size: 17px;
  line-height: 25px;
  vertical-align: middle;
}

.svg-icon--user {
  fill: #d50028;
  position: absolute;
  top: 0px;
}

/*Внутренние страницы*/

/*Название турнира и краткая информация о нём*/

.tournament {
  min-height: 108px;
  background-color: #ffffff;
}

.tournament-wrapper {
  width: 1216px;
  margin: 0 auto;
}

.tournament__title {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 31px;
  line-height: 74px;
  font-weight: 700;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
}

.tournament__info {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  list-style: none;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #656565;
}

.tournament__info-item {
  padding-left: 20px;
  padding-right: 5px;
  margin-right: 25px;
}

.tournament__info-dates {
  position: relative;
}

.tournament__info-dates::before {
  content: "\f073";
  position: absolute;
  color: inherit;
  bottom: 1px;
  left: 0px;
  font-family: "FontAwesome";
  font-size: 15px;
}

.tournament__info-teams-number {
  position: relative;
}

.tournament__info-teams-number::before {
  content: "\f0c0";
  position: absolute;
  color: inherit;
  bottom: 1px;
  left: 0px;
  font-family: "FontAwesome";
  font-size: 15px;
}

.tournament__info-status {
  position: relative;
}

.tournament__info-status:before {
  content: "\f017";
  position: absolute;
  color: inherit;
  left: 0px;
  bottom: 1px;
  font-family: "FontAwesome";
  font-size: 17px;
}

/*Страница "Турниры-стартовая"*/

.text-information {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ffffff;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.text-information__paragraph {
  padding: 0;
  margin: 0;
}

.matches-overview {
  margin-bottom: 25px;
}

.matches-overview__past-matches {
  display: flex;
  position: relative;
  width: 910px;
  height: 247px;
}

.matches-overview__title {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 354px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 23px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.arrow-back-wrapper {
  width: 53px;
  background-color: #f3f3f3;
}

.arrow-forward-wrapper {
  width: 53px;
  background-color: #ffffff;
}

.matches-overview__list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 804px;
  overflow: hidden;
  list-style: none;
  background-color: #ffffff;
}

.arrow-back--matches-overview,
.arrow-forward--matches-overview {
  display: block;
  width: 53px;
  padding-top: 121px;
  margin: 0;
  stroke: #6d7c9d;
}

.arrow-back--matches-overview {
  padding-left: 20px;
}

.arrow-forward--matches-overview {
  text-align: right;
  padding-right: 20px;
}

.live {
  position: relative;
}

.matches-overview .live::before {
  content: "Live";
  position: absolute;
  top: 103px;
  right: 15px;
  width: 25px;
  height: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 8.45px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(213, 0, 40, 1);
  border-radius: 2px;
  color: #ffffff;
}

.matches-overview__item {
  flex-shrink: 0;
  padding-top: 80px;
  padding-left: 17px;
  padding-right: 12px;
  width: 201px;
}

.matches-overview__item:nth-child(2n) {
  background-color: #f3f3f3;
}

.matches-overview__score {
  border-collapse: collapse;
  width: 100%;
}

.matches-overview__round,
.matches-overview__date-time {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  vertical-align: middle;
}

.matches-overview__date-time {
  margin-bottom: 5px;
}

.matches-overview__score-cell--bold {
  font-weight: 700;
}

.matches-overview__score-cell  {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #3f3f3f;
  vertical-align: top;
}

.matches-overview__score-cell--goals {
  text-align: right;
}

.matches-overview__score-cell--first-game {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  max-width: 30px;
  line-height: 40px;
  text-align: right;
  vertical-align: middle;
}

.matches-overview__indicators-list {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 7px;
  bottom: 18px;
  right: 50%;
  margin-right: -38px;
}

.matches-overview__indicators-item {
  width: 17px;
  height: 7px;
  transform: skewX(-15deg);
  background-color: rgba(4, 69, 117, 0.3);
  margin-right: 7px;
}

.matches-overview__indicators-item--active {
  background-color: rgba(213, 0, 40, 1);
}

.matches-overview__future-matches {
  display: flex;
  position: relative;
  width: 910px;
  height: 247px;
}

.matches-overview__future-matches .arrow-back-wrapper {
  background-color: #1672a0;
}

.matches-overview__future-matches .matches-overview__list {
  background-color: #1a7dab;
}

.matches-overview__future-matches .matches-overview__item:nth-child(2n) {
  background-color: #1672a0;
}

.matches-overview__future-matches .arrow-forward-wrapper {
  background-color: #1a7dab;
}

.matches-overview__future-matches .matches-overview__title {
  position: absolute;
  top: 15px;
  left: 370px;
  color: #ffffff;
}

.matches-overview__future-matches .matches-overview__round,
.matches-overview__future-matches .matches-overview__date-time,
.matches-overview__future-matches .matches-overview__score-cell {
  color: #ffffff;
}

.matches-overview__future-matches .arrow-back--matches-overview,
.matches-overview__future-matches .arrow-forward--matches-overview {
  stroke: #5a9bbc;
}

.matches-overview__future-matches  .matches-overview__indicators-item {
  background-color: rgba(243, 243, 243, 0.3);
}

.matches-overview__future-matches .matches-overview__indicators-item--active {
    background-color: rgba(213, 0, 40, 1);
  }

.matches-overview__date-time-wrapper {
  transform: skewX(-15deg);
  background-color: #044575;
  max-width: 100px;
  margin-left: 3px;
}

.matches-overview__date-time-wrapper .matches-overview__date-time::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0px;
  width: 20px;
  margin-left: -3px;
  height: 19px;
  background-color: #044575;
}

.matches-overview__date-time-wrapper .matches-overview__date-time {
  position: relative;
  transform: skewX(15deg);
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}

/*Страница "Турниры-Команды"*/

.teams__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
}

.teams__item {
  width: 205px;
  min-height: 283px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.teams__item:nth-child(4n) {
  margin-right: 0px;
}

.teams__logo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 205px;
  height: 206px;
  background-color: #ffffff;
}

.teams__name {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 15px;
  padding-bottom: 5px;
  height: 77px;
  background-color: #f6f6f6;
}

.teams__name-link {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

/*Страница "Турниры-Документы"*/

.documents__list {
  padding:0;
  margin: 0;
  list-style: none;
}

.documents__item {
  display: flex;
  align-items: center;
  padding-left: 18px;
  margin-bottom: 19px;
  min-height: 134px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #ffffff;
}

.documents__picture {
  flex-shrink: 0;
  width: 79px;
  height: 71px;
}

.documents__text {
  margin-left: 25px;
}

.documents__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

.documents__date {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #5c5c5c;
}

/* Страница "Календарь, Расписание" */

.schedule .tabs__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #d1d7dc;
}

.schedule .tabs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: 6px;
  margin-right: 5px;
  width: 180px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.schedule .tabs__item {
  flex-grow: 1;
  transform: skewX(-15deg);
}

.schedule .tabs__item--2 {
  border: 0;
}

.schedule .tabs__text {
  transform: skewX(15deg);
}

.schedule .tabs__content {
  background-color: #ffffff;
}

.schedule__head {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  vertical-align: middle;
  border-bottom: 1px solid #c5c5c5;
}

.schedule__date,
.schedule__round {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.schedule__next-date,
.schedule__next-round {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ecf4f8;
}

.schedule__checkbox {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 41px;
  vertical-align: middle;
}

.schedule__matches-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.schedule__matches-item {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 72px;
  border-bottom: 1px solid #c5c5c5;
}

.schedule__matches-item:last-child {
  border-bottom: 0;
}

.schedule__time-place {
  display: flex;
  flex-direction: column;
  width: 310px;
  padding-right: 20px;
}

.schedule__time {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 19px;
  line-height: 20px;
  text-transform: uppercase;
}

.schedule__place {
  position: relative;
  padding-left: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: #3f3f3f;
}

.schedule__place::before {
  content:"\f041";
  position: absolute;
  left: 0;
  font-family: "FontAwesome";
  font-size: 17px;
  color: #d50028;
}

.schedule__team-name {
  width: 188px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 70px;
  color: #000000;
}

.schedule__score {
  display: block;
  min-width: 69px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 70px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.schedule__team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
}

.schedule__team-1,
.schedule__team-2 {
  display: flex;
  align-items: center;
}

.schedule__team-logo--margin-left {
  margin-left: 10px;
}

.schedule__team-logo--margin-right {
  margin-right: 10px;
}

.schedule__team-name--right {
  text-align: right;
}

.schedule__team-name--left {
  text-align: left;
}

.tabs--active {
  background-color: #ffffff;
  color: #000000;
}

.tabs__pane {
  display: none;
}

.tabs__pane--active {
  display: block;
}

/* Страница "Турниры-Новости" */

.content-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: #d1d7dc;
}

.section-title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 44px;
  padding-left: 25px;
  text-transform: uppercase;
}

.news-list__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.news-list__item {
  display: flex;
  width: 100%;
  height: 227px;
  margin-bottom: 23px;
  background-color: #ffffff;
}

.news-list__picture {
  flex-shrink: 0;
  display: block;
  width: 340px;
  height: 227px;
  filter: brightness(80%);
}

.news-list__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
}

.news-list__date {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #5c5c5c;
  vertical-align: middle;
}

.news-list__title-text-wrapper {
  max-height: 125px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-list__title {
  display: block;
  margin-top: 3px;
  margin-bottom: 10px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  color: #12151d;
  vertical-align: middle;
}

.news-list__text {
  margin: 10px 0;
}

.tags {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tag__item {
  margin-right: 13px;
  border: 1px solid #1a7dab;
}

.tag__text {
  padding-left: 8px;
  padding-right: 8px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 11px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1a7dab;
}

/* Страница "Статистика" */
.table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
}

.table__cell {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  line-height: 50px;
  text-align: left;
  border-bottom: 1px solid #c5c5c5;
}

.table__cell--number {
  text-align: center;
  width: 62px;
}

.table__cell--player {
  width: 242px;
}

.table__cell--team {
  width: 382px;
}

.table__cell--games-number,
.table__cell--goals-penalties {
  width: 76px;
}

.table__head .table__cell {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 38px;
  color: #656565;
}

.table__cell--player-head,
.table__cell--team-head {
  text-transform: uppercase;
}

.table__cell--player,
.table__cell--team {
  text-align: left;
  font-size: 18px;
}

.table__player,
.table__team {
  display: flex;
  align-items: center;
}

.table__player-picture,
.table__team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
}

/* Страница "Турнир-команда" */
.team-promo {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 165px;
  background-color: #085080;
  background-image: url("../img/team-logo-background.png");
}

.team-promo__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 165px;
  background-color: #ffffff;
}

.team-promo__team-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  height: 165px;
  padding-top: 30px;
  padding-left: 59px;
  padding-bottom: 15px;
}

.team-promo__team-name {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 25px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
}

.link--team-profile {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  text-transform: none;
}

.team-promo__players-number-text,
.team-promo__average-height-text {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.team-promo__players-number-text {
  text-indent: 10px;
}

.team-promo__average-height-text {
  padding-bottom: 15px;
  padding-right: 5px;
}

.team-promo__players-number,
.team-promo__average-height {
  font-size: 19px;
  font-weight: 700;
}

.team-promo__players-number {
  padding-right: 8px;
}

.team-promo__average-height {
  padding-right: 5px;
}

/* Активное сoстояние и соcтояние по наведению у стрелы*/

.arrow:hover,
.arrow:active {
  stroke: #d7193d;
}

.arrow--cursor-pointing,
.arrow--active {
  stroke: #d7193d;
}
